@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: rgb(40, 148, 216);
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(51, 59, 64);
  background: #fff;
}
.title {
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  color: #fff;
}
.title-secondary {
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  color: #fff;
}
.title-hero {
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
  color: #fff;
}
.section-title {
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
}
.item-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
}
.item-title:hover {
  color: rgb(129, 73, 151);
}
/* .cover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: url("/page_pack.png");
  z-index: 2;
  height: 10vh;
  width: 100%;
} */
